.env
*.db
__pycache__/
.pytest_cache/
static/uploads/*.png
static/uploads/*.jpg
static/uploads/*.jpeg
static/uploads/*.gif
static/uploads/*.webp

# Virtual environments
.venv/
venv/

# OS / editors
Thumbs.db
desktop.ini
.DS_Store
.vscode/
.idea/
